$color-accent:    rgb(255, 38, 129);
$color-accent-2:  rgb(201, 38, 255);
$color-dark:      rgb(128, 57, 122);
$color-light:     rgb(255, 240, 254);
$color-shadow:    rgba(76, 0, 87, 0.25);
$color-transparent: rgba(255, 255, 255, 0);
$color-warning: rgb(255, 0, 85);

$transition-time: 0.25s;